/*
* --------------------------------------------
* Custom styles to override the default Bootstrap ones
* --------------------------------------------
*/

/* New Color Palette:
* Lightest (Main Background): #4dff4d      
* Dark Green (Primary): #36b336  
* Light Green (Secondary): #c44dff
* Reddish-Brown (Accent): #8936b3
*/

.bg-info {
    background-color: #4dff4d !important;
    /* Light green for secondary backgrounds */
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
    color: #c44dff;
    font-family: poppins-regular;
    /* Dark green for brand name & nav links for visibility */
}

.btn-info {
    color: #4dff4d;
    /* Lightest shade for text on info button for contrast */
    background-color: #36b336;
    /* Light green for button background */
    border-color: #36b336;
    /* Dark green for button border */
}

.btn-primary {
    color: #4dff4d ;
    /* Lightest shade for text */
    font-size: 150%;
    background-color: #c44dff;
    /* Dark green for primary button background */
    border-color: #c44dff;
    /* Reddish-brown for border to use as accent */
    border-width: thick;
}

body {
    background-color: #ffffff;
    /* Lightest shade for body background to follow the 60% rule */
}